[submodule "SourceCodes/Packages/DotType"]
	path = SourceCodes/Packages/DotType
	url = https://github.com/dottype/DotType
[submodule "SourceCodes/Packages/DotType.IO"]
	path = SourceCodes/Packages/DotType.IO
	url = https://github.com/dottype/DotType.IO
[submodule "SourceCodes/Packages/DotType.Utils"]
	path = SourceCodes/Packages/DotType.Utils
	url = https://github.com/dottype/DotType.Utils
[submodule "SourceCodes/Middleware/DotType.WebServer.Favicon"]
	path = SourceCodes/Middleware/DotType.WebServer.Favicon
	url = https://github.com/dottype/DotType.WebServer.Favicon
[submodule "SourceCodes/Middleware/DotType.WebServer.Cookie"]
	path = SourceCodes/Middleware/DotType.WebServer.Cookie
	url = https://github.com/dottype/DotType.WebServer.Cookie
[submodule "SourceCodes/Middleware/DotType.WebServer.Session"]
	path = SourceCodes/Middleware/DotType.WebServer.Session
	url = https://github.com/dottype/DotType.WebServer.Session
